body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  width: 100%;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container2 {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
}

.product-card {
  border: 1px solid #000000;

  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;

  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 700px;
}

.product-card h3 {
  margin-top: 0;
}
.header {
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

.product-card h3 {
  margin: 0;
  color: black;
}

.back-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #c7cad3;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: #02090f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #363a3d;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quantity-container {
  margin-top: 20px;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}
